body {
	font-family: sans-serif;
	background: #ddd;
	overflow: hidden;
	font-size: 32px;
}

.container {
	position: absolute;
	left: 0px;
	top: 0px;
}

.context {
	background: #fff;
}

.button {
	fill: #ccc;
	stroke: #666;
	stroke-width: 3;
}

.buttonText {
	fill: #000;
	pointer-events: none;
}

.controlPoint {
	pointer-events: none;
}

.touchPoint {
	fill: none;
	pointer-events: fill;
}

.aText {
	fill: #fff;
	pointer-events: none;
	font-size: 28px;
}

.controlLine {
	fill: none;
	stroke-width: 8;
}
